<link rel="stylesheet" href="css/slider.{{cv}}.css">
{% if OK %}
{% include moduleMenu %}
<br>
{% endif %}
<div id="helpcontent">
  <p><b>Module {{studyId}}</b></p>


  <!----------------------------------------------------------------------------------------------->
  <div id="helpcontent">

    <h3>Locate the Source</h3>

    <p>
      <i>Being: A being is any living creature, from a person to a bug. Being also refers to the state of existing. "To
        be, or not to be" ,  that is the question when you're talking about being. Things that exist are in a state of
        being: this meaning of being is a little vague, but it has to do with the way things are alive and real.
      </i>
    </p>

    <p>
      Up until now you have been removing mental blocks ( UTE's 'merges' ) by either focusing on an unwanted emotion or
      by using a list of problems to find targets. 
    </p>

      <p>You can make a list of things which disturb and upset you and then work through the list systimatically.
        When you think you have reached a point where your current list is no longer producing results. Wait a few weeks then
        come back to that list and it will produce new results.
        Meanwhile, make a new list.
      </p>

    <p>
      Now we want you to focus on other people directly. This is actually the prefered method of removing 'merges' and
      you should use the below method from now on. You may still use lists but use this new method. This can get quite
      active so be prepared.
    </p>



    <p>
      To clarify, the difference between this method and the previous is that here you locate a person or being in your
      mental space, THEN remove your 'merge' incidents from that person. The previous method had you locate a merge
      incident directly and then undo it, which can leave some stirred up energy unhandled. Always use this new method
      from now on.
    </p>

    <p>
      Here you would, while watching the &nbsp;<image-text>RippleNav</image-text>,&nbsp; focus your attention on a
      particular person or being. Trees, animals, pets etc are beings with which you may likely have UTE's with. It's
      not just about people, but most people would begin this section by seeking out other people.
    </p>
    <p>
      If you get a read from the &nbsp;<image-text>RippleNav</image-text>&nbsp; while putting your attention on a
      particular person then you <b>do</b> have UTE's with that person or being. You can also verify this by mentally
      asking the person or being "Do we have any UTE's?"
    </p>
    <p>
      Once you have located a suitable person or being, you do as you did before, except that now the person or being is
      the target of your attention.
    </p>


    <p>
      If the concept of a "being" causes discomfort, it's worth remembering that you, too, are a being. The essence of
      life in any living entity stems from a being that interacts with and governs it. When life ends, the being itself
      does not perish; rather, it departs, potentially embarking on a new existence elsewhere. Embrace this perspective
      to alleviate any fears regarding other beings; they are fundamentally similar to you. This universal truth extends
      to everyone, including those you cherish and even those you may dislike. Each one is a being, just like you.
    </p>



    <p>
      So let's continue.<br>
    </p>



    <p>Now, before you panic and think, Oh nooooo..., more steps to learn. Don't worry, <b>it's still those same seven
        steps</b> as before, except that <i>before</i> step 1, you find a being in your mental space that provides a
      strong response on the &nbsp;<image-text>RippleNav</image-text>.&nbsp; Once you have a suitable being, you use the
      seven steps to remove your UTE's from that being.</p>

    <br><br>
    <hr><!------------------------------------------------------------------------------------------>
    <br><br>

    <div class="FF" id="f2">
      <div id="hh"></div>
      <div class="slider" id="m1"></div>
      <input type="range" min="1" max="200" value="10" class="slider2" id="myRange">
      <div id="sens"> 22 </div>
    </div>

    <p>

    <ol>
      <li>Look in your mental space and find a being</li>
      <li>Tell the being to: Find the first UTE they have with you.</li>
      <li>Watch the &nbsp;<image-text>RippleNav</image-text>.&nbsp; You should get a response when they find it.</li>
      <li>If unsure, ask "Did you find it?" and look for the response.</li>
      <li>Now locate the magic number for that incident.</li>
      <li>Mentally tell the being what the magic number is.</li>
      <li>Make sure it is the correct number (did it separate etc).</li>
      <li>Repeat the above until you have <b>zero</b> UTE's with that being.</li>
      <li>Being is no longer detectable on the &nbsp;<image-text>RippleNav</image-text>.&nbsp; </li>
    </ol>
    </p>


    <p>
      Note that you could have as few as one UTE with the person or as many as several hundred. You don't have to undo
      them all in one sitting. Approach this process at a pace that's comfortable for you, addressing what you can in
      each sitting. Then, continue to work on them gradually, day by day, allowing yourself the time and space needed
      for thorough and thoughtful resolution.
    </p>


    <br><br>
    <hr><!------------------------------------------------------------------------------------------>
    <br><br>

    <h2l>Additional Information</h2l>

    <p>
      Seeing as you have now had several hours of experience with the &nbsp;<image-text>RippleNav</image-text>,&nbsp;
      you may also have noticed that the device sometimes twitches as if it's trying to get your attention or reprimand
      you for something. Well, all of that is true. You have been interacting with beings since the beginning and they
      will try and tell you things like "NO! the number is MUCH higher" or "HEY! get your attention back here and carry
      on" etc.
    </p>
    <p>
      Understanding why a "being" can't simply identify and address the very first UTE can be perplexing. Here's a
      simplified explanation: Time and space are concepts that exist within a universe, not outside of it. Considering
      the multitude of universes that exist, most, if not all, could contain UTE's.
    </p>
    <p>
      When a being attempts to locate the first UTE, they typically find the earliest one within this universe. While
      this is a significant discovery, it's not the complete picture. If you refer to the
      &nbsp;<image-text>RippleNav</image-text>,&nbsp; you'll notice there are additional UTE's with that being. These
      likely reside in other universes. But pinpointing the first universe a being existed in is complex because time
      doesn't function between universes in the way we understand it.
    </p>
    <p>
      It's a challenging concept to grasp and may require some reflection. Essentially, a being cannot directly access
      the first-ever UTE shared with you because there are multiple 'first' incidents across different universes, not
      just one. This complexity is a key aspect of understanding the nature of beings and their interactions across
      universes.
    </p>

    <p>
      If you look around in your mind you will find a great many "beings" with whom you have UTE's. Many of those
      incidents were quite traumatic at the time and can provide great relief when the incident is undone. It's the
      trapped emotions in those incidents that cause all the anxiety and other emotional problems which people have.
    </p>



  </div>

  <p style="background-color:rgba(55, 255, 0, 0.323);">
    The next module will unlock after you have had 10 hours experience in this module.
  </p>
  <p>
    For legal reasons :YOU ARE DOING THIS AT YOUR OWN RISK.
  </p>
  <br><br><br>
  <button class="sophisticated creativity " onclick="window.scrollTo(0, 0);">Back to the Top</button>

  <script>
    window.runNumberFinder();
    window.logTimeUsedMinutes(0.1, 12); // gets hours left
  </script>