{% if OK %}
{% include moduleMenu %}
<br>
{% endif %}
<div id="helpcontent">
  <p><b>Module {{studyId}}</b></p>




  <h3>Advanced Methods</h3>

  <p>The distance method:</p>

  <p>
    In the previous module, we learned how to focus our attention on people and beings to identify and resolve our
    UTE's.
  </p>

  <p>
    This approach is effective, but it assumes that you can readily identify a being in your mental space. However, what
    happens when you're dealing with an emotional issue or struggling to achieve a goal, yet you're unable to pinpoint
    the specific being associated with an UTE?
  </p>

  <p>
    To overcome this challenge, a more advanced technique known as "The Distance Method" is introduced. This method is
    particularly useful for discovering beings whose memories you have inadvertently absorbed, by focusing on spatial
    awareness.
  </p>


  <link rel="stylesheet" href="css/slider.{{cv}}.css">
  <div class="FF" id="f2">
    <div id="hh"></div>
    <div class="slider" id="m1"></div>
    <input type="range" min="1" max="200" value="10" class="slider2" id="myRange">
    <div id="sens"> 22 </div>
  </div>
  <p>
    While engaging with the &nbsp;<image-text>RippleNav</image-text>,&nbsp; mentally pose the question: "The being whose
    memories are influencing my current problem, where are you located?" Consider the following directions:


<div class="content-row">
  <div class="text-cell">

  <div style="display: flex; align-items: start;">
    <ol>
      <li>In front of me?</li>
      <li>To my right?</li>
      <li>To my left?</li>
      <li>Behind me?</li>
      <li>Above me?</li>
      <li>Below me?</li>
    </ol>
  </div>

  </p>
</div>
<div class="image-cell" style="position: relative;">
  <img src="/images/directions.webp" style="object-fit: contain; height: auto; width: 100%;" />

  <div style="position: absolute; top: 10%; left: 50%; transform: translateX(-50%); color: white;">

    &nbsp;<image-text>"source"</image-text>&nbsp;
  </div>
</div>
</div>



  <p>
    If you receive varying responses, focus on the direction that elicits the strongest reaction as your starting point.
  </p>

  <p>
    Next, determine the precise distance in that direction, such as 5.23 meters. Utilize the
    &nbsp;<image-text>RippleNav</image-text>&nbsp; to ascertain this distance, starting from a baseline of 5 meters and
    adjusting using 'greater than' or 'less than' as needed. At this stage, you should find this process
    straightforward.
  </p>

  <p>
    Distances typically range from 1 to 20 meters, though some may be as close as 0.1 millimeters or as far as several
    kilometers. It's crucial not to dwell on the significance of these distances; they are merely directional markers
    and numerical addresses for the beings in 'mind space', and do not correlate to physical distances. For example, a
    being located 2.12 meters above you is not literally in the ceiling, but at that distance in your mental perception.
  </p>

  <p>
    Once you have determined the being's 'address', note it down. You can then apply the techniques from ealier to
    locate and address UTE's.
  </p>

  <p>
    Alternatively, you can identify a 'problem area' using a long list of potential problems, and then employ the
    distance method to find the being responsible. Once located, proceed as before.
  </p>

  <p>
    You'll soon realize that you are connected to billions of beings in this manner. Addressing these connections is a
    considerable task, and it's recommended to dedicate around 2 hours daily to this practice.
  </p>

  <p>
    To help you find more UTE's you can also go onto Youtube and watch videos on topics you DO NOT like. Things that
    disturb you and make you feel uncomfortable usually stem from UTE's. Any thought that produces a right-movement on
    the RippleNav is a UTE and can be addressed using the above technique.
  </p>

  <p>Make a list of such things which disturb and upset you and then work through the list systimatically.
    When you think you have reached a point where your current list is no longer producing results. Wait a few weeks
    then come back to that list and it will produce new results.
    Meanwhile, make a new list.
  </p>

  <p>You are connected to billions of beings in this manner and all of those UTE's are negatively impacting you in some way. 
    If you think you can't find any UTE's then you are simply not trying hard enough or not looking in or avoiding potential areas. 
    Get out of your comfort zone, that's where the problems are. 
  </p>

  <p>
    The upcoming module, Module 15, will become accessible once you have invested over 400 hours in the current module.
    This extensive engagement is necessary for a critical reason: it involves identifying and resolving UTE's with a
    wide
    array of beings. This process is integral to significantly enhancing your awareness, preparing you to fully grasp
    and appreciate the advanced concepts and techniques that Module 15 offers.
  </p>

<p style="background-color:rgba(55, 255, 0, 0.323);">
  The next module will unlock after you have had 400 hours experience in this module.
</p>


  <p>
    For legal reasons :YOU ARE DOING THIS AT YOUR OWN RISK.
  </p>

</div><!-- end  help content -->
<br><br><br>
<button class="sophisticated creativity " onclick="window.scrollTo(0, 0);">Back to the Top</button>

<script>
  window.runNumberFinder();
  window.logTimeUsedMinutes(0.1, 14); // gets hours left
</script>