{% if OK %}
{% include moduleMenu %}
    <br>
{% endif %}
        <div id="helpcontent">
          <p><b>Module {{studyId}}</b></p>
    

    <div id="helpcontent">


    <p>
        The general idea here is for you to practice the seven steps from your previous modules, but now you get to use the real &nbsp;<image-text>RippleNav</image-text>.&nbsp;  
        
      </p> 
        
      <p>
        The trick is to split your attention with 90% on a subject in your mind and only 10% on the &nbsp;<image-text>RippleNav</image-text>&nbsp;   Most newcomers will have ALL their attention on the &nbsp;<image-text>RippleNav</image-text>&nbsp; because it is new and interesting, especially the first time you see it respond to a thought you had. 
        </p> 
        
    
        <p>
        You need to 'observe' the &nbsp;<image-text>RippleNav</image-text>&nbsp; but 'work' on your inner world because that is where the things are that we want to fix.   Spend a few hours doing this until you can do the seven steps without having to use the 'helper' we put below the &nbsp;<image-text>RippleNav</image-text>.&nbsp;  
        </p>
        <p>
        The  &nbsp;<image-text>RippleNav</image-text>&nbsp; is 'smart' in that it watches itself and knows when it is being 'used' and keeps track of how long it is being used for.  Just leaving it idle will not count as being used. 
        </p>

        <p>
            The sensitivity setting ( The green button in the grey bar ) of the &nbsp;<image-text>RippleNav</image-text>&nbsp;  can be used to increase the 'detection'  size of UTE's and other motions.  Increasing it too much will make the device unusable because everything will be in motion. Experienced users will operate the device with sensitivity in the range of 10 - 25, but it's up to you. Do what works for you.
        </p>

        <p>
            To find UTE's just think about times when you were upset, depressed, angry, did something you regretted, said something you regretted etc. Any thought that generates a response on the &nbsp;<image-text>RippleNav</image-text>&nbsp; is a UTE. You just need to 'find it', put your attention on it, find its Magic Number.
        </p>
        <p>
            There are more effective ways of finding UTE's which we explain in the next module but we want you to first get some practice here.
        </p>

        <p>
         The next Module will not unlock until the &nbsp;<image-text>RippleNav</image-text>&nbsp; records at least 4 hours of actual use. Also be aware that you have been given 10 hours of free usage on the &nbsp;<image-text>RippleNav</image-text>&nbsp; which is enough to get you through this module and half of the next module.  You can then determine if it's worth it to you to purchase more hours ( in the admin section ). Most people do get spectacular results if the process is done correctly and they will happily purchase additional hours.
        </p>

        <p>
          You should also keep in mind the data from Module 9.
        </p>
        <p>
          For legal reasons :YOU ARE DOING THIS AT YOUR OWN RISK.
        </p>
        <br><br>
      <hr><!-------------------------------------------------------------------------------------------->
      <br><br>
      
      <p><span class="amberBack">
        A reminder, a Unifying Traumatic Experience (UTE) will cause the time and location information surrounding
        that incident to become confused which will cause a 'merge' and connect you to many 'sources' of
        psychological problems.</span></p>
        
      <br><br>
      <hr><!-------------------------------------------------------------------------------------------->
      <br><br>





      <p>
        Regarding the real &nbsp;<image-text>RippleNav</image-text>.&nbsp; below, if, after about 10 seconds, the blocky texture is not moving at all, then go to the previous module briefly and then come back here. Sometimes the connection gets stuck and will get reset by doing that.
        </p>





<h2>
    Presenting the REAL &nbsp;<image-text>RippleNav</image-text>.&nbsp; &nbsp;&nbsp;
    <img src="launcher-icon-2x.png"/>
</h2>
      
<link rel="stylesheet" href="css/slider.{{cv}}.css">
     

        <div class="FF" id="f2">
          <div id="hh"></div>
          <div class="slider" id="m1"></div>
          <input type="range" min="1" max="200" value="10" class="slider2" id="myRange">
          <div id="sens"> 22 </div>
        </div>
        <br>

        <p>
            There are 7 steps shown below. 
            <ol>
              <li>Find the 1st 'UTE'</li>
              <li>Make sure you found it</li>
              <li>Find the magic number</li>
              <li>Did the 'merge' dissolve?</li>
              <li>If separation did not occur, go to 3</li>
              <li>Make SURE it dissolved</li>
              <li>Are all the merges dissolved for this problem?</li>
            </ol>
          </p>

<!-----------------------------------------------------------------------------------
<style>
.info {
    background-color: #81bdf3;
    color:black;
    padding: 10px;
}
.info p {
    background-color: inherit;
}
.hidden {
    display: none;
}

</style>


<div id="response" class="sophisticated consciousness ">Find the 1st incident on the sequence of incidents which links me to THE PROBLEM I WANT TO REMOVE</div>

<div id="step1" class="info">
    <p><b>Step 1: Find the 1st 'UTE'</b>  Let's say you want to remove "feeling sad" or "being depressed" or "my spider phobia" or any number of possible mental problems. Mentally address the universe while watching the &nbsp;<image-text>RippleNav</image-text>&nbsp;  Mentally say "Find the 1st incident on the sequence of incidents which links me to ...(your problem)".
        This sequence is your 'Target'.</p> 
        <p>
    <b>Step 2: Make sure you found it.</b> Now ask "Did you find it?" The &nbsp;<image-text>RippleNav</image-text>&nbsp; should give a brief right-movement. If not, repeat the above until it "finds it". 
    </p>
    <p>
    Note: If you get no response at all, then the mental issue/problem you are addressing might not be merged with you (there is no magic number associated with it) or, most likely, you are approaching it to broadly. Instead of looking at 'feeling depressed' you may need to narrow it down to 'feeling depressed about my apple tree'</p> <br><br>

    <b>Did you find it?</b><br><br>
    <div class="radio-wrapper-25">
    <input type="radio" name="step2" value="yes"> Yes<br>
    <input type="radio" name="step2" value="no"> No<br><br>
    </div>
    <span id="step 1-2" class="sophisticated consciousness "></span>
    <button class="simple happy " onclick="processStep2()">Next</button>
</div>

<div id="step3" class="hidden info">
   <p><b>Step 3: Find the magic number.</b> You now need to find the magic number for the sequence of incidents you just found (refer to Module 7). Always keep in mind your 'Target' from step 1. We usually start at 5000 and go from there, checking "greater than" or "less than". When you find the number, inform the 'Target', "The number is ..."</p>
    When you are satisfied that you have found the correct number, click 'Next'.<br><br>
    
    <button class="simple happy " onclick="processStep3()">Next</button>
</div>

<div id="step4" class="hidden info">
    <p><b>Step 4: Did the 'merge' dissolve?</b>  Within 1 to 5 seconds of having informed the 'Target' what the magic number was, you should have seen a 'release'.
        A release is when a 'merge' dissolves, freeing you from the unconscious memories you falsely acquired in that UTE and is accompanied by a feeling of some release of tension.<br><br>
        
        There are generally three types of 'release' patterns that you will see in the &nbsp;<image-text>RippleNav</image-text>.&nbsp;  all lasting 1 to several seconds.
        <ul>
            <li>A long right-movement</li>
            <li>A quick/brief right movement followed by a long left movement</li>
            <li>An erratic jerky dance movement in both left and right directions</li> 
        </ul><br>

        The above should be accompanied by a feeling of very mild to strong euphoria as the long held tension dissapates.
        If a release does not occur, then you probably did not find the correct magic number. It happens... check the next step.</p><br>
        <b>
    Did you observe a release?</b><br><br>
    <div class="radio-wrapper-25">
    <input type="radio" name="step4" value="longRight"> Long right-movement<br>
    <input type="radio" name="step4" value="quickRightLongLeft"> Quick right followed by long left<br>
    <input type="radio" name="step4" value="erratic"> Erratic movements<br>
    <input type="radio" name="step4" value="none"> No release<br><br>
    </div>
    <button class="simple happy " onclick="processStep4()">Next</button>
</div>

<div id="step5" class="hidden  info">
    <p><b>Step 5: Make SURE it dissolved.</b> Ask the 'Target', "Did it separate?" If no response, then, "Did it not separate?"

        <br><br> 
    <b>Did the separation occur?</b><br><br>
    <div class="radio-wrapper-25">
    <input type="radio" name="step5" value="yes"> Yes<br>
    <input type="radio" name="step5" value="no"> No<br><br>
    </div>
    <button class="simple happy " onclick="processStep5()">Next</button>
</div>

<div id="step6" class="hidden  info">
    <p><b>Step 6: If separation did not occur.</b>  If the &nbsp;<image-text>RippleNav</image-text>&nbsp; indicated that it did not separate... meaning the joined memories did not 'unjoin' or separate, then your magic number is not correct. It could be that you are off by a small amount, a few thousand or millions or you could be WAY off. You will need to figure that out for yourself. Try doing Step 3 with much bigger or smaller numbers. Start with 500 or 5 million or 5 Quadrillion etc. and go from there.</p><br><br>
    <button class="simple happy " onclick="processStep6()">Next</button>
</div>

<div id="step7" class="hidden  info">
    <p><b>Step 7: Are all the merges dissolved for this problem?</b> It's now possible that you have reached the first incident on the sequence. This is usually accompanied by a larger than usual feeling of wellbeing, release etc. You can check this by asking the 'Target' questions like:<br>
        <ol type="a">
            <li>"Are we still connected?"</li>
            <li>"Gone?"</li>
            <li>"Went away?"</li>
          </ol>
        
          <br>
        
          Referring to a,b,c above, if the 'Target' is gone then (a) will get no response, whereas (b) and (c) should respond.   If the 'Target' is gone, then Step 5 may also be unresponsive.
          Use common sense in figuring out the situation. Feel free to repeat questions until you feel confident about the situation.
         <br><br>
         If you did not reach the first UTE in the sequence then continue from Step 1 again and repeat until complete.
         Note that, even though you always ask for the 1st UTE, you seldom find it on the first go, which is why you need to repeat the steps until you do find it.
         The reason this occurs requires a more complex understanding of things so we won't get into it now.
       
     </p><br><br>
     <b>
   Have you reached the first incident?</b><br><br>
   <div class="radio-wrapper-25">
    <input type="radio" name="step7" value="yes"> Yes<br>
    <input type="radio" name="step7" value="no"> No<br><br>
    </div>
    <button class="simple happy " onclick="processStep7()">Next</button>
</div>

<div id="step8" class="hidden  info">
    <p>Now would be a good time to take a break. Reaching the start of a sequence is usually a good thing and can sometimes be spectacular!  Other times can be 'meh'.  Just keep going and try and commit some time to doing this every day.  Gradually, bit by bit, you will become more and more awesome.
     </p><br><br>
    <button class="simple happy " onclick="processStep8()">Do another</button>
</div>
------------>
<br><br>
<hr><!------------------------------------------------------------------------------------------>
<br><br>
<!--
<p>
    By engaging with the on-screen questions and selecting answers through a simple yes/no interface, you will be navigating a series of seven steps in their proper sequence. These questions are designed to interact with your mental processes as you observe the movements of an on-screen graphic. This graphic's motion is influenced by a quantum field sensor, which responds to changes in your mind's state, particularly related to trauma.   
</p>

<p>
    As you mentally pose questions and interpret the graphic's behavior, you're effectively communicating with your subconscious. This interaction is crucial for guiding you through the healing process. While the system initially provides an 'aid' to help you learn the steps, the ultimate goal is for you to become familiar enough with the process to proceed without needing this assistance. As you grow more accustomed to the method, you'll gain a deeper understanding of how your mental state influences the quantum field and, consequently, the on-screen graphic, leading to a more intuitive navigation of the healing steps.
</p>
-->


<p style="background-color:rgba(55, 255, 0, 0.323);">
    The next Module will not unlock until the  RippleNav  records at least 4 hours of actual use.
</p>

</div><!-- help content ------------------------------------------------------------------>

<script>
    response = document.getElementById('response');

    function processStep1() {
        var choice = document.querySelector('input[name="step1"]:checked').value;
        document.getElementById("step1").classList.add("hidden");
        if (choice === "yes") {
            document.getElementById("step3").classList.remove("hidden");
            response.innerHTML ="DID YOU REALLY FIND IT?";
        } else {
            // Handle the case when the incident is not found
            document.getElementById("step1").classList.remove("hidden");
            response.innerHTML ="Please refine the problem and try again.";
        }
    }

    function processStep2() {
        var choice = document.querySelector('input[name="step2"]:checked').value;
        console.log(`processStep2=====`);

        if (choice === "yes") {
            document.getElementById("step1").classList.add("hidden");
            document.getElementById("step3").classList.remove("hidden");
            response.innerHTML ="DID YOU REALLY FIND IT?";
        } else {
            document.getElementById("step 1-2").innerHTML ="Try finding the 1st incident again<br><br>";
            response.innerHTML ="TRY AGAIN: Find the 1st incident on the sequence of incidents which links me to THE PROBLEM I WANT TO REMOVE"; 
        }
    }

    function processStep3() {
        document.getElementById("step3").classList.add("hidden");
        response.innerHTML ="Getting there...";
        document.getElementById("step4").classList.remove("hidden");
    }

    function processStep4() {
        var choice = document.querySelector('input[name="step4"]:checked').value;
        document.getElementById("step4").classList.add("hidden");
        response.innerHTML ="Make sure...";
        if (choice !== "none") {
            // Proceed to the next step based on the type of release observed
            response.innerHTML ="Release observed. Moving to the next step.";
            // For example, if the next step is step 5
             document.getElementById("step5").classList.remove("hidden");
        } else {
            // Handle no release case
            document.getElementById("step3").classList.remove("hidden");
            
        }
    }
    function processStep5() {
        var choice = document.querySelector('input[name="step5"]:checked').value;
        document.getElementById("step5").classList.add("hidden");
            response.innerHTML ="You want to un-merge...";
        if (choice === "yes") {
            // Proceed to step 7 if separation occurred
            response.innerHTML ="You might be close.";
            document.getElementById("step7").classList.remove("hidden");
        } else {
            // Go back to  6 if no separation occurred
            document.getElementById("step6").classList.remove("hidden");
        }
    }

    function processStep6() {
        document.getElementById("step6").classList.add("hidden");
        response.innerHTML ="No problem, try again.";
        document.getElementById("step3").classList.remove("hidden");
    }

    function processStep7() {
        var choice = document.querySelector('input[name="step7"]:checked').value;
        document.getElementById("step7").classList.add("hidden");
            response.innerHTML ="You might be close.";
        if (choice === "yes") {
            // Conclusion message or actions
            response.innerHTML ="You have reached the first incident. Process complete.";
            document.getElementById("step7").classList.add("hidden");
            document.getElementById("step8").classList.remove("hidden");
            response.innerHTML ="Take a break!";
        } else {
            // Return to step 1 if the first incident is not reached
            document.getElementById("step1").classList.remove("hidden");
            response.innerHTML ="Start again";
        }
    }

    function processStep8() {
        document.getElementById("step8").classList.add("hidden");
        document.getElementById("step1").classList.remove("hidden");
        response.innerHTML ="Start again";
    }

   
</script>

<script>          
console.log("moduleInitialized "+moduleInitialized);
console.log("running "+running);
    window.runNumberFinder();
    window.logTimeUsedMinutes(0.1,11); // gets hours left
</script>



<br><br><br>
<button class="sophisticated creativity " onclick="window.scrollTo(0, 0);">Back to the Top</button>
<br><br><br>


 