{% if OK %}
{% include moduleMenu %}
    <br>
{% endif %}
        <div id="helpcontent">
          <p><b>Module {{studyId}}</b></p>


<h3>Beyond</h3>
<p>
 The start of this eternity</p>
<br><br>
<p>
  We have done research into finding why the mind is flawed in such a way as to allow these merge incidents to occur.
  Our findings suggest that is was done intentionally, by all of us (including you) so as to make the game of life more of a challange.
  This game of life has been evolving over a very long time.  Each time a new cycle starts 'we' agree to new conditions,
  having learned from the previous games, we try and make the new cycle better in some way.
</p>

<p>
  'We' decided a long time ago that an 'easy' game is not a fun game.  We got bored with it too easily and game cycles ended prematurly because of it.

</p>

<p>
  Each of these cycles of time is called an eternity because it, well, it takes really, really, really, really, really, really, really, really, really, long to get though it.
  Words can't describe how long because our words were sown and grown here on earth. Regardless, there have been many, many, many, many, many, many, many, many, eternities as well.
  You have lived through all of them. You took part in the agreements that were made regarding how the game was going to be played.
  You took part in the creation of each eternity.
</p>

<div style="background-color:powderblue;">
<p   >
  You can raise the roof of your awareness by doing the following exercise on the &nbsp;<image-text>RippleNav</image-text>&nbsp; 
  <ol>
  <li>Find the white flash of creation at the start of this eternity</li>
  <li>You should get a read on the &nbsp;<image-text>RippleNav</image-text>&nbsp; when you 'see' the flash</li>
  <li>Find how many beings were present at this creation event</li>
  <li>For the above, its a huge number, so rather find how many digits in the number.</li>
  <li>You should find that the number contains 400 - 500 billion digits.</li>
  <li>When you get the exact number of digits, you will recognise the truth of it</li>
  <li>This recognition of truth produces a large right-movement on the &nbsp;<image-text>RippleNav</image-text>&nbsp; and a feeling of elation which can last for several minutes</li>
  <li>Take a break until you come off your high...</li>
  <li>Repeat the above for the previous eternity</li>
  <li>Do the above for the last 100 eternities</li>
  </ol>
</p>
</div>

<p>
  It is interesting to note that the number found is different for each eternity.
</p>
</div>
<button class="sophisticated creativity nav-btn" id="--quiz/{{studyId }}">Do the Quiz</button>&nbsp;&nbsp;<button class="sophisticated creativity " onclick="window.scrollTo(0, 0);">Back to the Top</button>
<br><br><br>