{% if OK %}
{% include moduleMenu %}
    <br>
{% endif %}
        <div id="helpcontent">
          <p><b>Module {{studyId}}</b></p>

<h3>Confidential</h3>


<p>
We kindly request that you maintain the confidentiality of the information presented in this level. The insights and knowledge contained here are best appreciated when encountered at the right stage of spiritual growth. Premature exposure may render them incomprehensible, potentially diminishing their profound impact. While there are further advanced levels available, their release on this platform is contingent upon our confidence in the public's respect for these guidelines. Demonstrated trustworthiness over time may lead to the unveiling of these additional levels.
</p>

<p>
For those who have attained a significant level of spiritual growth and awareness, the revelations in this module are likely to be transformative, surpassing any prior experiences on your journey. Our inability to gauge individual levels of awareness is why we emphasized extensive spiritual 'cleanup' before reaching this point. If you find yourself still burdened with feelings of heaviness, irritation, or frustration due to unresolved UTE's, consider revisiting the previous module for additional hours. This further work will ensure you're optimally prepared to fully embrace and benefit from the profound opportunity presented in the steps that follow. Patience here is key; do not rush and miss out on the profound potential of this module.
</p>



<br><br>
<hr><!-------------------------------------------------------------------------------------------->
<br><br>

<h3>Beyond the Threshold of Eternity</h3>

<p>
  In Gnosticism, the Demiurge is a lesser, ignorant, and often arrogant creator deity who mistakenly fashions the
  material world as a flawed, illusory prison for divine sparks. Unaware of the transcendent, true God (the Monad or
  Aether), the
  Demiurge believes himself to be the supreme being and actively traps fragments of divine consciousness (You) and time
  within his creation, which then suffer from amnesia regarding their true, higher timeless origin.
</p>

<p>
  Our research indicates that these perceived flaws of the mind, the time location problem, are not accidental but
  intentional, collectively woven into our psyche by the Demiurge. This intricate design serves to heighten the
  challenge in the metaphysical game of life, a game that has been evolving through the vast stretches of time.
</p>

<p>
  By blurring and merging memories, he keeps the divine sparks confused, disoriented, and unable to fully remember their
  true nature, thereby preventing their escape. This would be a subtle, insidious form of imprisonment.
</p>

<p>
  Archonic Influence: The Archons (the Demiurge's subordinates) actively work to keep humanity ignorant and entangled.
  They might actively maintain or exacerbate these "memory merges" to preserve their control. They create war, famine,
  disease, and other forms of suffering to keep the divine sparks trapped in the material world, preventing them from
  awakening to their true nature and escaping the Demiurge's grasp. This is a form of spiritual warfare. </p>


<p>
Every time the devine sparks managed to collectively raise themselves above the threshold of the Demiurge's
  influence, it would unravel the game, however the devine sparks very unable to escape due to still having merged memories wihting the Demiurge creation. 
  </p>

  <p>
    The incorrect conclusion reached long ago by the devine sparks was that the game had unraveled because it had been to easy.  It seemed clear: an 'easy' game lacks appeal. Simplicity led to bordom, hastening the end of game cycles prematurely.
    Therefore, we embraced complexity and challenge as core elements of this cosmic play, mistakingly believing it was for
    our benefit.
    </p>

  This cycle of creation and destruction
  has been repeated countless times, with each iteration becoming more complex and challenging than the last.
</p> 

<p>
  Each iteration of this game, which we refer to as a 'cycle', is born from the lessons of it's predecessors. With each renewal, we were tricked into creating an even tougher version of the game, one that would keep us engaged and challenged. 
</p>



<p>
  These cycles are termed 'eternities' not just as a poetic metaphor but to underscore their immense duration, a span so vast that earthly language falters in it's description. And indeed, there have been countless such eternities.
</p>

<link rel="stylesheet" href="css/slider.{{cv}}.css">
<div class="FF" id="f2">
  <div id="hh"></div>
  <div class="slider" id="m1"></div>
  <input type="range" min="1" max="200" value="10" class="slider2" id="myRange">
  <div id="sens"> 22 </div>
</div>

<div style="background-color:rgba(176, 224, 230, 0.301);">
<p   >
  You can raise the roof of your awareness by doing the following exercise on the &nbsp;<image-text>RippleNav</image-text>.&nbsp; 
  <ol>
  <li>Find the white flash of creation at the start of this eternity.</li>
  <li>You should get a read on the &nbsp;<image-text>RippleNav</image-text>&nbsp; when you 'see' the flash.</li>
  <li>Find how many beings were present at this creation event.</li>
  <li>For the above, it's a huge number, so rather find how many digits are in the number.</li>
  <li>You should find that the number contains 400 - 500 billion digits.</li>
  <li>When you get the exact number of digits, you will recognise the truth of it.</li>
  <li>Take a moment to realise that YOU were there.</li>
  <li>Take a moment to realise that YOU took part in this creation.</li>
  <li>Take a moment to realise that YOU thought, out of ignorance, it necessary to create a new eternity.</li>
  <li>This recognition of truth produces a large right-movement on the &nbsp;<image-text>RippleNav</image-text>&nbsp; and a feeling of elation which can last for several minutes (or days...)</li>
  <li>Take a break until you come off your high...</li>
  <li>Find out, as a percentage, how many of those beings you still have UTE's with.</li>
  <li>Repeat the above for the previous eternity.</li>
  <li>Do the above for the last 30 eternities ( or more ).</li>
  <li>Try and find out how many eternities you have been through.</li>
  <li>Try and find out how many current eternities exist which also have planet earth.</li>
  </ol>
</p>
<br>
</div>

<p>
  It is interesting to note that the number found is different for each eternity.
</p>

<br><br>
<hr><!-------------------------------------------------------------------------------------------->
<br><br>

<div class="content-row">
  <div class="text-cell">

  <p>
  This module marks the current culmination of our program. 
  </p>

  <p>
  We recommend that you persist with the practices from Module 14, applying it's principles both to the lists provided and to your interpretations of global events. This ongoing application will help consolidate your learning and expand your understanding, allowing you to continue your journey of growth and discovery.
  </p>

</div>
<div class="image-cell">
  <img src="/images/crowned.webp" style="object-fit: contain;
height: auto;
width: 70%;" />
</div>
</div>

<p>
  For legal reasons :YOU ARE DOING THIS AT YOUR OWN RISK.
</p>

<br><br>
<hr><!-------------------------------------------------------------------------------------------->
<br><br>

<button class="sophisticated creativity " onclick="window.scrollTo(0, 0);">Back to the Top</button>
<script>          
  window.runNumberFinder();
  window.logTimeUsedMinutes(0.1,15); // gets hours left
</script>


